body{
    font-family: sans-serif;
    background-color: hsl(73, 40%, 22%);
}

#primero{
    width: 600px;
    height: 370px;
    margin: 64px auto;

    background-image: url(../imgs/bg.jpg);
}

#segundo{
    width: 600px;
    height: 370px;
    margin: 64px auto;

    background: rgb(197,121,143);
background: linear-gradient(0deg, rgba(197,121,143,1) 0%, rgba(112,143,191,1) 100%);
}